<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.the.joeun.mapper.UsersMapper">

    <resultMap id="usersMap" type="edu.the.joeun.model.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
        <result property="create_at" column="create_at"/>
        <result property="update_at" column="update_at"/>
    </resultMap>

    <select id="getAllUser" resultMap="usersMap">
        SELECT *
        FROM user
        ORDER BY id DESC
    </select>

    <select id="getUsersById" parameterType="int" resultMap="usersMap">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="edu.the.joeun.model.User">
        INSERT INTO user(name, email, role)
        <!-- id, create_at, update_at 은 SQL 자체에서 데이터 알아서 삽입하므로
         사용자가 작성한 데이터를 기입하지 않는다. -->
        VALUES(#{name}, #{email}, #{role})
    </insert>

</mapper>
